<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="WhatMovie - Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Popular -->
  <ion-tab title="Popular Movies" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  href="#/tab/popular">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Upcoming -->
  <ion-tab title="Upcoming Movies" icon-off="ion-flash" icon-on="ion-flash" href="#/tab/upcoming">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
